# Artificial Intelligence Module

## Cluster Analysis

In [11]:
import matplotlib.pyplot as plt
import pandas as pds
import seaborn as sns
import numpy as np
from scipy import stats
import sys
sys.version

'3.7.0 (default, Jun 28 2018, 08:04:48) [MSC v.1912 64 bit (AMD64)]'

Read the Iris dataset provided in CSV format with:

In [12]:
df = pds.read_csv('./iris_dataset.csv', sep=";")

then check the beginning of the dataframe with:

In [13]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [14]:
df.tail(), df.dtypes, type(df)

(     sepal_length  sepal_width  petal_length  petal_width         species
 145           6.7          3.0           5.2          2.3  Iris-virginica
 146           6.3          2.5           5.0          1.9  Iris-virginica
 147           6.5          3.0           5.2          2.0  Iris-virginica
 148           6.2          3.4           5.4          2.3  Iris-virginica
 149           5.9          3.0           5.1          1.8  Iris-virginica,
 sepal_length    float64
 sepal_width     float64
 petal_length    float64
 petal_width     float64
 species          object
 dtype: object,
 pandas.core.frame.DataFrame)

Compute simple statistics with:

In [17]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Try to select columns, rows in a dataframe, and to drop a columns, using methods

In [20]:
df.loc[0], df.iloc(), df.drop

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'